<table>
  <tr>
    <th><strong>Church Name</strong></th>
    <th>Language</th>
    <th>City</th>
    <th>Website/Email</th>
  </tr>
  <% @ethnic_churches.each do |church| %>
    <tr>
      <td><strong><%= church.name %></strong></td>
      <td><%= church.language %></td>
      <td><%= church.city %></td>
      <td><%= church.website %></td>
    </tr>
  <% end %>
</table>
