/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "chosen";

body {
  background: #c8c5ad;
}

header {
  padding: 50px 0;
  min-height: 100px;
  color: #49473f;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

footer {
  text-align: center;
  margin-bottom: 25px;
}

a {
  text-decoration: underline;
  color: #0056b3;
}

a:hover {
  color: #0066d4;
}

a.logo-text {
  text-decoration: none;
  outline: none;
}

a.logo-text:hover {
  text-decoration: none;
}

nav.sidebar, .primary-content {
  padding-top: 100px;
}

.login_forms {
  display: block;
  width: 400px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Passion One', Helvetica;
}

main > h2 {
  margin-left: 12px;
}

h3 {
  font-size: 18px;
}

.table th, .table td, .table thead th {
  border: none;
}

.jumbotron {
  background: #f6f2e5;
  margin: 0 auto;
}

.logo-image {
  display: block;
  margin: 0 auto;
}

.logo {
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Passion One', Helvetica;
  text-align: center;
  box-sizing: border-box;
  line-height: 45px;
}

.subtitle {
  margin-top: 35px;
  margin-bottom: 0;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}

.title-with-emphasis {
  text-decoration: underline;
}

.language_list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1980px;
  margin: 0 auto;
}

.language {
  -webkit-flex-basis: 200px;
  flex-basis: 200px;
  height: 200px;
  box-shadow: 0 10px 6px -6px #49473f;
  margin: 25px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  box-style: border-box;
  background: #afac97;
  border-radius: 4px;
}

.language a {
  color: #f2ecd0;
  display: block;
  padding: 50px 18px;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  font-size: 15px;
  text-decoration: none;
}

input[type=text], textarea, input[type=email], input[type=password] {
  @extend .form-control;
  width: 100%;
}

input[type=text], textarea, input[type=email], input[type=password], input[type=checkbox], .chosen-container {
  margin-bottom: 15px;
}

input[type=submit] {
  margin-top: 15px;
}

label {
  margin-top: 15px;
  width: 100%;
}

.form-group {
  width: 300px;
}

.page-item.active .page-link {
  background: #004085;
  border-color: #004085;
}

.page-link {
  color: #0056b3;
  background: #f6f2e5;
  border: 1px solid #dbd8cc;
}

.page-item.disabled .page-link {
  background: #f6f2e5;
  border: 1px solid #dbd8cc;
}

.lang-endonym {
  font-size: 50px;
}

.bulgarian, .armenian, .burmese, .fijian, .oromo, .french, .tongan {
  .lang-endonym {
    font-size: 25px;
  }
}

.french, .danish, .estonian, .german, .greek, .hungarian, .latvian, .lithuanian, .portuguese, .romanian, .russian, .samoan, .polish, .spanish, .swedish, .ukrainian, .vietnamese, .marshallese, .mongolian, .lingala, .kachin {
  .lang-endonym {
    font-size: 30px;
  }
}

.malayalam, .gujarati, .kikuyu, .serbian {
  .lang-endonym {
    font-size: 40px;
  }
}

.urdu {
  .lang-endonym {
    font-size: 70px;
    margin-top: -25px;
  }
}


$languages: world-map, pattern, diamond-tiles, dingy-yellow-wall, stone-wall, rock-pattern, mexican-tribal-zapotec, mossy-stone-wall, amharic, arabic, aramaic-syriac, armenian, bahasa-indonesian, batak-indonesian, bengali, bulgarian, burmese, cantonese, chinese, danish, estonian, farsi, fijian, filipino, german, greek, gujarati, hindi, hmong, hungarian, igbo, indigenous-north-american-languages, indonesian, japanese, kachin, khmer, kikuyu, korean, lao, latvian, lingala, lithuanian, luhya, malayalam, mandarin, marshallese, mongolian, nepalese, norwegian, oromo, polish, portuguese, punjabi, romani, romanian, samoan, serbian, taiwanese, tamil, telugu, thai, tongan, russian, spanish, swedish, ukrainian, urdu, vietnamese;

@each $lang in $languages {
  .#{$lang} {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(image-path('#{$lang}.jpg'));
  }
}
