/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "chosen";

body {
  background: #c8c5ad;
}

header {
  padding: 50px 0;
  min-height: 100px;
  color: #49473f;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

footer {
  text-align: center;
  margin-bottom: 25px;
}

a.logo-text:hover {
  text-decoration: none;
}

nav.sidebar, .primary-content {
  padding-top: 100px;
}

.login_forms {
  display: block;
  width: 400px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Passion One', Helvetica;
}

main > h2 {
  margin-left: 12px;
}

h3 {
  font-size: 18px;
}

.table th, .table td, .table thead th {
  border: none;
}

.jumbotron {
  background: #f6f2e5;
  margin: 0 auto;
}

.logo-image {
  display: block;
  margin: 0 auto;
}

.logo {
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Passion One', Helvetica;
  text-align: center;
  box-sizing: border-box;
  line-height: 45px;
}

.subtitle {
  margin-top: 35px;
  margin-bottom: 0;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}

.title-with-emphasis {
  text-decoration: underline;
}

.language_list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1980px;
  margin: 0 auto;
}

.language {
  -webkit-flex-basis: 200px;
  flex-basis: 200px;
  height: 200px;
  background: #ddd;
  box-shadow: 0 10px 6px -6px #49473f;
  border: solid 2px #626155;
  margin: 25px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  box-style: border-box;
  background: #afac97;
}

.language p {
  height: 100%;
}

.language a {
  color: #49473f;
  display: block;
  padding: 50px 18px;
  width: 100%;
  height: 100%;
}

input[type=text], textarea, input[type=email], input[type=password] {
  @extend .form-control;
  width: 100%;
}

input[type=text], textarea, input[type=email], input[type=password], input[type=checkbox], .chosen-container {
  margin-bottom: 15px;
}

input[type=submit] {
  margin-top: 15px;
}

label {
  margin-top: 15px;
  width: 100%;
}

.form-group {
  width: 300px;
}
