/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

header {
  background: image-url('world157x153.png') no-repeat;
  background-position: calc(50% - 225px) 50%;
}

nav.sidebar, .primary-content {
  padding-top: 100px;
}

.login_forms {
  display: block;
  width: 400px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Passion One', Helvetica;
}

h1 {
  font-size: 75px;
  padding-top: 5px;
}

h3 {
  font-size: 18px;
}

.logo {
  text-align: center;
  height: 150px;
}

.subtitle {
  padding-top: 0;
  padding-left: 260px;
  margin-top: -75px;
  line-height: 20px;
  font-size: 16px;
}

.title-with-emphasis {
  text-decoration: underline;
}
